 <section>
    	<div class="main_container">
            <div class="cms_section">
            	<div class="container">
                	<div class="feedback_container">
                    	<div class="fdbc_body">
                        	<div class="register_popup">
                                <h1 class="login_title"><span>Change</span> Password</h1>
                                <br/>
                                <div class="popup_form">
                    <% if flash[:notice] %>  <p class="cmmn_error"><%= flash[:notice] %></p> <% end %>
                          <% if flash[:success] %>  <p class="cmmn_success"><%= flash[:success] %></p> <% end %>
                    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
                         
                       
                        <div class="field">
                            <label>Password:<span class="required">*</span></label>
                            <div class="form_control">
                                 <%= f.password_field :password %>
                            </div>
                        </div>
                        <div class="field">
                            <label>Confirm Password:<span class="required">*</span></label>
                            <div class="form_control">
                                <%= f.password_field :password_confirmation %>
                            </div>
                        </div>
                       
                         
                         
                        <div class="field">
                            <label class="empty">&nbsp;</label>
                            <div class="form_control">
                                <input type="submit" value="Update"/>
                            </div>
                        </div>
                    <% end %>
                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <script type="text/javascript">

$(document).ready(function(){
        
 
                
                //Start Register
                $("#user_edit_form").validate({
                  debug: true,
                    rules: {
                          
                        "user[password]": {
                            required: true,
                            minlength: 8
                        },
                        "user[password_confirmation]": {
                            required: true,
                            equalTo: "#user_password_confirmation"
                        }
                    },
                    messages: {
                        
                          
                         "user[password]": {
                            required: "New Password is Required",
                            minlength: "Password must Have Minimum 8 Charecters"
                        },
                         "user[password_confirmation]": {
                            equalTo: "Passwords are Mismatch"
                        }
                    },submitHandler : function(form) {
                     if ($(form).valid()){ form.submit(); return false; // prevent normal form posting
                     }
                  }
                });
 
});
    

</script>