= semantic_form_for [:admin, @faq] do |f|
  = f.semantic_errors *f.object.errors.keys

  = f.inputs "Page" do
    = f.input :title, :label => "Question"
    = f.cktext_area :answer,  :id => "sometext"

  = f.actions

