= semantic_form_for [:admin, @slider] do |f|
  = f.semantic_errors *f.object.errors.keys

  = f.inputs "Page" do
    = f.input :title, :label => "Title"
    = f.input :body, :label => "Body text"

    = f.input :picture, :as => :file

  = f.actions

