= semantic_form_for [:admin, @slider] do |f|
  = f.semantic_errors *f.object.errors.keys

  = f.inputs "Slider" do
    = f.input :title, :label => "Slider Text Big"
    = f.input :slider_text, :label => "Slider Text Small"
    = f.input :url
    = f.input :picture, :as => :file

  - unless @slider.picture.blank?
    = f.inputs "Current Image" do
      = image_tag @slider.picture(:original)

  = f.actions
