<section>
      <div class="main_container">
            <div class="inner_banner userprofile_page">
              <div class="container">
                  <a href="javascript:;" class="banner_logo">
                    <% unless @user.cover_photo_file_name%>
                        <img src="/assets/header_user_default.png" alt="User Name"/>
                    <% else %>
                        <%= image_tag (@user.cover_photo.url) %>
                    <% end %>
                  </a>

                    <div class="userprofile_details">
                      <h1 class="user_pr_name"><% if @user.fname %><%= @user.fname.capitalize %><% end %> <% if @user.name %><%= @user.name.capitalize %><% end %><span>
                        <% if @user.city %>, <%= @user.city %><% end %> <% if @user.state.to_s !='0' %>, <%= @user.state.capitalize %><% end %></span> <a class="light_pop_trigger editicon" href="#editprofile"></a></h1>
                        <div class="clear"></div>
                        <% if @user.bio !='' %>
                        <p class="user_pr_desc"><%= @user.bio %></p>
                        <% else %>
                        <p class="user_pr_desc">Share something about your eating habits!</p>
                        <% end %>
                        <div class="clear"></div>
                    </div>
                    <div class="user_rewards">
                      <ul>
                         <% if @products_rate %>
                          <li class="user_star"><a href="javascript:;" class="tooltip" title="Shared a review!"><img src="/assets/user_profile_star.png"/><span class="rounded_span"><%= @products_rate.count %></span></a></li>
                          <% end %>
                            <!--<li class="user_prd"><a href="javascript:;" class="tooltip" title="Shared a review!"><img src="/assets/user_profile_product.png"/><span class="rounded_span">5+</span></a></li>
                            <li class="user_loc"><a href="javascript:;" class="tooltip" title="Shared a review!"><img src="/assets/user_profile_location.png"/><span class="rounded_span">7+</span></a></li>-->
                            <% if @products %>
                            <li class="user_tick"><a href="javascript:;" class="tooltip" title="Shared a review!"><img src="/assets/user_profile_tick.png"/><span class="rounded_span"><%= @products.count %></span></a></li>
                             <% end %>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="products_part profile_products">
              <div class="container">
                  <ul class='etabs'>
                       <li class='tab'><a href="#myfav" class="active">My Favorites</a></li>
                       <li class='tab'><a href="#prdrew">Products Reviewed</a></li>
                       
                    </ul>
                    <div class="clear"></div>
                  <div class='tab_container'>
                      <div class='panel_container'>
                <div id="myfav" class="tab_div active">
                                <div class="home_body prd_search">
                                    <div class="locations">  
                                        <% if @products %>
                            <div class="products">
                               <% @products.each do |product| %> 
                              
                               
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                            <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                          </a>
                                             
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                 <% if branddetails.slug %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                  <% else %>
                                                  <p class="media_sub_title"><a href="javascript:void(0);"> <%= branddetails.name %></a></p>
                                                
                                                  <% end %>
                                                <% end %>
                                                
                                                
                                            </div>
                                            <div class="clear"></div>
                                                   
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               
                                
                            </div>
                            <% end %>
                                    </div>
                                </div>
                          </div>
                            <div id="prdrew" class="tab_div">
                               <div class="home_body prd_search">
                                    <div class="locations">
                                        <% if @products_rate %>
                            <div class="products">
                               <% @products_rate.each do |product| %> 
                              
                               
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                            <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                          </a>
                                             
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                 <% if branddetails.slug %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                  <% else %>
                                                  <p class="media_sub_title"><a href="javascript:void(0);"> <%= branddetails.name %></a></p>
                                                
                                                  <% end %>
                                                <% end %>
                                                
                                                
                                            </div>
                                            <div class="clear"></div>
                                                   
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               
                                
                            </div>
                            <% end %>
                                </div>
                             </div>
                             
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="stock_status">
                        <p><strong>IN STOCK?</strong> Please call the store to verify the product or brand you want is currently in stock before going.<br/>Find Real Food cannot guarantee product inventory on any given day.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <div class="light_popup" id="editprofile">
    <div class="light_pop_container">
        <span class="pop_close"></span>
        <div class="light_pop_body">
            <div class="register_popup">
                <h1 class="login_title"><span>Edit Profile</span></h1>
                <p class="fr"><span class="required">*</span> Indicates required field</p>
                <div class="clear"></div>
                <div class="popup_form">
                   <% if flash[:notice] %>  <p class="cmmn_error"><%= flash[:notice] %></p> <% end %>
                          <% if flash[:success] %>  <p class="cmmn_success"><%= flash[:success] %></p> <% end %>
                    <%= form_for(:user, url: "/users/update", :html =>{:id => "user_edit_form", :autocomplete=>"off", :multipart => true}) do |f| %>
                        <div class="field">
                            <label>First Name:<span class="required">*</span></label>
                            <div class="form_control">
                                <%= f.text_field :fname %>

                            </div>
                        </div>
                        <div class="field">
                            <label>Last Name:<span class="required">*</span></label>
                            <div class="form_control">
                               <%= f.text_field :name %>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label>Bio:<span class="required">*</span></label>
                            <div class="form_control">
                                <%= text_area(:user, :bio, size: "20x6") %>
                            </div>
                        </div>
                      
                         
                        <div class="field">
                            <label>City:</label>
                            <div class="form_control">
                              <%= f.text_field :city %>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label>State:</label>
                            <div class="form_control">
                               <div   class="cus_select_rslt">
                               <span></span>
                                <select class="custom_select" name="user[state]" >
                                    <option value="0" selected>Select State</option>
                                    <% get_state_list.each do |state| %> 
                                    <option value="<%= state.name %>"><%= state.name %></option>
                                    <% end %>
                                </select>
                               </div> 
                            </div>
                        </div>
                        <div class="field">
                            <label>Profile Picture:</label>
                            <div class="form_control">
                                <input type="file" name="user[avatar]" class="photo">
                                <ul class="file_dup">
                                    <li class="file_result">No file selected.</li>
                                    <li class="file_btn"><a href="javascript:;">Browse</a></li>
                                </ul>
                                <div class="clear"></div>
                                  <% if @user.avatar_file_name!='' %>
                                 <%= image_tag (@user.avatar.url) %>
                                <% end %>
                            </div>
                        </div>
                        <div class="field">
                            <label>Cover Photo:</label>
                            <div class="form_control">
                                <input type="file" name="user[cover_photo]" class="photo">
                                <ul class="file_dup">
                                    <li class="file_result">No file selected.</li>
                                    <li class="file_btn"><a href="javascript:;">Browse</a></li>
                                </ul>
                                <div class="clear"></div>
                                <% if @user.cover_photo_file_name!='' %>
                                 <%= image_tag (@user.cover_photo.url) %>
                                <% end %>
                            </div>
                        </div>
                         
                        <div class="field">
                            <label class="empty">&nbsp;</label>
                            <div class="form_control">
                                <input type="submit" value="Update"/>  <input class="cancelbut" type="button" value="Cancel" />
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
  <script type="text/javascript">

$(document).ready(function(){
        
                $(".cancelbut").click(function(){
                    window.location = '/user/profile'
                })
                
                //Start Register
                $("#user_edit_form").validate({
                  debug: true,
                    rules: {
                        "user[fname]": "required",
                        "user[name]": "required",
                        "user[email]":{
                            required: true,
                            email: true 
                        }
                          
                        
                    },
                    messages: {
                        "user[fname]": "First Name is Required",
                        "user[name]": "Last Name is Required",
                         "user[email]":{
                            required: "Email Address is Required",
                            email: "Invalid Email Address"  
                        }
                    },submitHandler : function(form) {
                     if ($(form).valid()){ form.submit(); return false; // prevent normal form posting
                     }
                  }
                });
 
});
    

</script>