<section>
      <div class="main_container">
            <div class="inner_banner userprofile_page">
              <div class="container">
                  <a href="javascript:;" class="banner_logo"><%= image_tag (@user.avatar(:original)) %></a>

                    <div class="userprofile_details">
                      <h1 class="user_pr_name"><% if @user.fname %><%= @user.fname.capitalize %><% end %> <% if @user.name %><%= @user.name.capitalize %><% end %>, <span>
                        <% if @user.city %><%= @user.city.capitalize %><% end %>, <% if @user.state %><%= @user.state.capitalize %><% end %></span></h1>
                        <div class="clear"></div>
                        <% if @user.bio !='' %>
                        <p class="user_pr_desc"><%= @user.bio %></p>
                        <% else %>
                        <p class="user_pr_desc">Share something about your eating habits!</p>
                        <% end %>
                        <div class="clear"></div>
                    </div>
                    <div class="user_rewards">
                      <ul>
                         <% if @products_rate.count %>
                          <li class="user_star"><a href="javascript:;" class="tooltip" title="Shared a review!"><img src="/assets/user_profile_star.png"/><span class="rounded_span"><%= @products_rate.count %></span></a></li>
                          <% end %>
                            <!--<li class="user_prd"><a href="javascript:;" class="tooltip" title="Shared a review!"><img src="/assets/user_profile_product.png"/><span class="rounded_span">5+</span></a></li>
                            <li class="user_loc"><a href="javascript:;" class="tooltip" title="Shared a review!"><img src="/assets/user_profile_location.png"/><span class="rounded_span">7+</span></a></li>-->
                            <% if @products.count %>
                            <li class="user_tick"><a href="javascript:;" class="tooltip" title="Shared a review!"><img src="/assets/user_profile_tick.png"/><span class="rounded_span"><%= @products.count %></span></a></li>
                             <% end %>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="products_part profile_products">
              <div class="container">
                  <ul class='etabs'>
                       <li class='tab'><a href="#myfav" class="active">My Favorites</a></li>
                       <li class='tab'><a href="#prdrew">Products Reviewed</a></li>
                       
                    </ul>
                    <div class="clear"></div>
                  <div class='tab_container'>
                      <div class='panel_container'>
                <div id="myfav" class="tab_div active">
                                <div class="home_body prd_search">
                                    <div class="locations">  
                                        <% if @products %>
                            <div class="products">
                               <% @products.each do |product| %> 
                              
                               
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                            <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                          </a>
                                             
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                 <% if branddetails.slug %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                  <% else %>
                                                  <p class="media_sub_title"><a href="javascript:void(0);"> <%= branddetails.name %></a></p>
                                                
                                                  <% end %>
                                                <% end %>
                                                
                                                
                                            </div>
                                            <div class="clear"></div>
                                                   
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               
                                
                            </div>
                            <% end %>
                                    </div>
                                </div>
                          </div>
                            <div id="prdrew" class="tab_div">
                               <div class="home_body prd_search">
                                    <div class="locations">
                                        <% if @products_rate %>
                            <div class="products">
                               <% @products_rate.each do |product| %> 
                              
                               
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                            <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                          </a>
                                             
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                 <% if branddetails.slug %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                  <% else %>
                                                  <p class="media_sub_title"><a href="javascript:void(0);"> <%= branddetails.name %></a></p>
                                                
                                                  <% end %>
                                                <% end %>
                                                
                                                
                                            </div>
                                            <div class="clear"></div>
                                                   
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               
                                
                            </div>
                            <% end %>
                                </div>
                             </div>
                             
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="stock_status">
                        <p><strong>IN STOCK?</strong> Please call the store to verify the product or brand you want is currently in stock before going.<br/>Find Real Food cannot guarantee product inventory on any given day.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>