<%= render '/layouts/googlemap' %>
<section>
        <div class="main_container">
            <% if @sliders %>
            <div class="banner">
               <ul class="slider">
                     <% @sliders.each do |slider| %> 
                    <li>
                    
                      <a href="<%= slider.url%>">   <%= image_tag(slider.picture(:original), :alt => "Banner") %></a>
                       
                        <div class="caption_part">
                            <div class="container">
                               <% if slider.slider_text !='' %>  <h4><%= slider.slider_text%></h4>
                               <% end %>
                               <% if slider.title !='' %>
                                <h1><%= slider.title %></h1>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <% end %>
                        
                </ul>
            </div>
            <% end %>
            

           
            
        </div>
    </section>


    

<script type="text/javascript">
 
$(document).ready(function() {

       
      <% if @sliders %>
     $('.slider').bxSlider({
              pager:false,
              auto:true,
              pause: 5000,
              speed:1000
        });
     <% end %>

});
    

</script>