<section>
    	<div class="main_container">
            <div class="inner_banner">
                <%= image_tag('how_to_add_products.jpg', :alt => "How to add products") %>
                <div class="caption_part">
                     <div class="container">
                          <h1><%= @page.title %></h1>
                          
                          <div class="clear"></div>
                     </div>
                </div>
            </div>
            <div class="cms_section about_page">
            	<div class="container">
                	<div class="cms_white_bg mrg_btn_small">
                     	<h1 class="about_frf_title">About WAPF</h1>

                            

                        <p class="about_logos"><a href="javascript:;">
                        
                        <%= image_tag('about_wapf_logo.png', :alt => "wapf") %>
                        	<%= image_tag('about_wapf_logo_txt.png', :alt => "wapf", :class=>"about_second_logo" ) %>
                        	
                        </a><span class="clear"></span></p>
                       <p>The Weston A. Price Foundation (WAPF), established in 1999, is a not-for-profit organization dedicated to education, research, and activism on health-promoting, traditionally prepared, nutrient-dense, whole foods in the human diet. It has been a pioneer and leading organization in the real food movement, offering annual conferences to help educate the public and practitioners in the US and UK.</p>
                        <p>The Foundation's food recommendations in their annual Shopping Guide and Find Real Food mobile app, are the result of painstaking research to categorize thousands of potential food products into this no-advertisements guide, as thousands of potential food products into this no-advertisements guide, as either "Best," "Good," or "Avoid".</p>
                        <p>These food guidelines are made according to the dietary principles of pioneer researcher, Dr. Weston A.Price, who published the results of his epic 10 year study examining diets and health of people living in hundreds of different cities and 14 countries around the world, in his acclaimed book Nutrition and Physical Degeneration.</p>
                        <p>The Foundation has over 550 chapters worldwide and many thousands of members who are helping spread awareness.</p>
                      <p> <%= @page.body %></p>
                    </div>
                    <div class="cms_white_bg mrg_btn_small">
                    	<h1 class="about_app_title">About the App</h1>
                        <ul class="about_apps">
                        	<li><a href="javascript:;">
                            <%= image_tag('about_app_1.png', :alt => "Mobile Application" ) %>
                            </a></li>
                            <li><a href="javascript:;">
                            <%= image_tag('about_app_2.png', :alt => "Mobile Application" ) %>
                            </a></li>
                            <li><a href="javascript:;">
                            <%= image_tag('about_app_3.png', :alt => "Mobile Application" ) %>
                            </a></li>
                            <li><a href="javascript:;">
                            <%= image_tag('about_app_4.png', :alt => "Mobile Application" ) %>
                            </a></li>
                            <li><a href="javascript:;">
                            <%= image_tag('about_app_5.png', :alt => "Mobile Application" ) %>
                            </a></li>
                        </ul>
                        <div class="clear"></div>
                        <p class="app_title">Find Real Food: The WAPF Shopping Guide for the Highest Quality Foods Available</p>
                        <p>Healthy grocery shopping can be such a challenge with so many brands to choose from and tricky labels that hide harmful ingredients! It’s hard to know what to buy, no matter if you are into Traditional diets, Paleo, Primal, Vegetarian, or GAPS diet. Good quality “Real Food” is at the foundation of every one of them!</p>
                        <p>In this easy-to-use grocery guide, several thousands of food and beverage products from 30 different categories have been meticulously researched by the Weston A. Price Foundation (WAPF), a not-for-profit organization founded in 1999, dedicated to education, research, and activism on health promoting, traditionally prepared, nutrient-dense, whole foods in the human diet.</p>
                        <p>Save time and money and improve your health by using this guide, created by nutrition experts who researched which products and brands are best. Each category of food must uphold specific quality standards in order to qualify for the guide.</p>
                        <p>For example, “Best” rated foods are in their whole form, have no additives, artificial flavors, MSG, or trans-fats. Dairy and beef must come from grassfed or pasture-raised (free-range) cows. Eggs must come from pastured hens that are preferably not fed soy. Veggies and fruit must be organic or biodynamic, preferably local and in season.</p>
                        <p>Once a user of this app, you become part of the “Find Real Food” community, and can rank or review products listed so you can learn from others’ experiences, and share your own. You can also suggest new foods or brands to be reviewed by the Foundation.</p>
                    </div>
                    <div class="cms_white_bg mrg_btn_small">
                    	<h3 class="about_downld">Download Now!</h3>
                        <p class="download_links"><a href="javascript:;" class="frf">
                             <%= image_tag('frf_logo_202X200.png', :alt => "Find Real Food" ) %>
                        </a><a href="javascript:;" class="apple_link">
                        
                         <%= image_tag('apple_about.png', :alt => "Download From Apple Store" ) %>
                    </a><a href="javascript:;" class="google_link">
                    
                    <%= image_tag('apple_about.png', :alt => "Download From Google Play Store" ) %>
                </a></p>
                        <div class="clear"></div>
                    </div>
                    <div class="cms_white_bg">
                    	<h1 class="founder_title">About the Founders of Find Real Food</h1>
                        <p class="founder_all"><a href="javascript:;">
                              <%= image_tag('founder_all.png', :alt => "Find Real Food Founders" ) %>
                             </a></p>
                        <p>Real Food Mobile, LLC was founded in February 2013 by Annika Rockwell, Anthony Nichtawitz, and Darren Ball. Annika has been a Certified Nutritionist since 1998. Anthony is a business strategy professional, and Darren is an IT expert.</p>
                        <p>Our passion for healthy lifestyle and food choices lead us to the Weston A. Price Foundation and their annual grocery 2014 WAPF grocery shopping guide paper booklet covershopping guide booklet.</p>
                        <p>For many years, we have been members of the Weston A. Price Foundation (WAPF), and been using and recommending their paper guide. Annika found that her clients were resistant to using it when out grocery shopping simply due to its impracticality. So it was clear that making the guide digital would greatly facilitate its ability to be searched, and make it much more practical and useful.</p>
                        <p>We approached the WAPF with our mobile app concept and happily, they agreed to let us license their incredible database of brands and products! From conception to completion, our mobile app took 17 months (July 2012 to Dec. 2013). A labor of love!</p>
                        <p>To learn more about the Weston A. Price Foundation’s nutrition principles, please visit their <a href="javascript:;">website.</a></p>
                        <ul class="founders_list">
                        	<li><a href="javascript:;"> <%= image_tag('about_anthony_nichtawitz.png', :alt => "Anthony Nichtawitz" ) %>Anthony Nichtawitz</a></li>
                            <li><a href="javascript:;">
                                <%= image_tag('about_arnika_rockwell.png', :alt => "Annika Rockwell" ) %>
                                Annika Rockwell</a></li>
                            <li><a href="javascript:;">
                                <%= image_tag('about_darren_ball.png', :alt => "Darren Ball" ) %>Darren Ball</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>