                <div class="loading_ovelay">
                    <img src="/assets/product_loading.gif" alt="Loading..."/>
                </div>
                <div class="container">
                  <div class="products_list_tab">
                  <div class="choosen_foods fr">
                            <a href="/how-foods-are-chosen" class="button hide_for_mobile fr">How Foods Were Chosen & Ranked</a>
                             <a href="/how-foods-are-chosen" class="button hide_for_desktop fr">How Foods Were Chosen & Ranked</a>
                        </div>
                    <ul class='etabs'>
                        <li class='tab'><a href="#products" class="active">products</a></li>  
                       <li class='tab'><a href="#brands">brands</a></li>  
                      
                    </ul>
                  </div>
                    <div class="clear"></div>
                    <div class='tab_container fl'>
                        <div class='panel_container'>
                            <div id="products" class="tab_div active">
                                <div class="home_body prd_search">
                                    
                                    <div class="clear"></div>
                                    <div class="home_left fl">
                                        <% unless @products.blank? %>
                                        <div class="products">
                                             
                                             <% @products.each do |product| %> 
                                             
                                            <div class="product_item">
                                                <div class="product_item_body">
                                                    <div class="media product">
                                                    <a href="/product/<%= product.slug %>" class="media_img">
                                                         <% if product.picture.present? %>
                                                        <%= image_tag (product.picture(:original)) %>
                                                        <% else %>
                                                        <%= image_tag("product_no_image.png", :alt => "star") %>
                                                        <% end %>
                                                        <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                                    </a>
                                                        <div class="media_text">
                                                            <p class="media_title">
                                                                <a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                            <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails.slug!='' %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                  <% else %>
                                                  <p class="media_sub_title"><a href="javascript:void(0);"> <%= branddetails.name %></a></p>
                                                
                                                  <% end %>
                                                        <% $i = 0
                                                if product.avg_rating %>
                                                <p class="rating">

                                                
                                               <% while $i < product.avg_rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 
                                              %>
                                               <span>(<%= product.rating_count %>)</span></p>
                                               <% end  %>     
                                               <% if @location1 %>
                                                            <p class="location"><a href="javascript:void(0);"><%= get_location_count(product.id, @location) %> Location(s) Nearby</a></p>
                                                <% end %>
                                                        </div>  
                                                             
                                             <div class="clear"></div>
                                               <% if @locations1 %>
                                              <div class="location_list">
                                              <ul>
                                                <% @locations.each do |lrow| %>
                                              <li>
                                              <h4 class="loaction_title"><a href="/location/<%= lrow.slug %>"><%= lrow.name %></a></h4>
                                              <a href="javascript:;"><span><%= lrow.full_address %></span></a>
                                              </li>
                                              <% end %>
                                              </ul>
                                              </div>
                                              <% end %>

                                                    </div>
                                                </div>
                                            </div>

                                            <% end %>

                                             
                                            <div class="expand">
                                                <a href="javascript:;"></a>
                                            </div>
                                            
                                        </div>
                                          <a href="javascript:void(0);" class="view_all_products" data-page="2">View More</a>

                                         <% else %>
                                            <div class="products"> <div class="product_item"><p class="notification1" >No Products Available</p></div>
                                            </div>

                                            

                                        <% end %>
                                    </div>
                                     
                                
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="brands" class="tab_div">
                               <div class="home_body prd_search">
                                    
                                    <div class="clear"></div>
                                    <div class="home_left fl">
                                        <% unless @brands.blank?  %>
                                        <div class="products">
                                             
                                            <% @brands.each do |brand| %> 
                                           
                                            <div class="product_item">
                                                <div class="product_item_body">
                                                    <div class="media product">
                                                        <a href="/brand/<%= brand.slug %>" class="media_img">
                                                         <% if brand.picture.present? %>
                                                        <%= image_tag (brand.picture(:original)) %>
                                                        <% else %>
                                                        <%= image_tag("product_no_image.png", :alt => brand.name) %>
                                                        <% end %>

                                                       </a>
                                                        <div class="media_text">
                                                            <p class="media_sub_title">
                                                                <% if brand.slug !='' %><a href="/brand/<%= brand.slug %>">
                                                                <% else %>
                                                                <a href="javascript:void(0);">
                                                                <% end %>
                                                                <%= brand.name%></a></p>
                                                       

                                                        </div>
                                                         <div class="clear"></div>
                                                           

                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                             
                                            <div class="expand">
                                                <a href="javascript:;"></a>
                                            </div>
                                           
                                        </div>

                                        <a href="javascript:void(0);" class="view_all_products" data-page="2">View More</a>

                                         <% else %>
                                            <div class="products"> <div class="product_item"><p class="notification1" >No Brands Available</p></div>
                                            </div>

                                            

                                        <% end %>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                             </div>
                              
                        </div>
                    </div>
                    <% if @location!='' %>
                     <%= form_tag("/map", :method => "post", :class => "map") do %>
                      <div class="map_button fr hide_for_mobile with_tab">
                                <input name="location" value="<%= @location %>" type="hidden" />
                                 <input type="submit" value="Full Screen Map">
                            </div>
                            <% end %> 


                                        <%= form_tag("/map", :method => "post", :class => "map") do %>
                        <div class="map_button fr hide_for_desktop">
                                <input name="location" value="<%= @location %>" type="hidden" />
                                 <input type="submit" value="Full Screen Map">
                            </div>
                            <% end %> 
                                        <% end %>
                             <div class="home_right modified fr">
                                        <div class="home_right_container">
                                            <div class="map_area">
                                                <%= render '/layouts/zipsearch' %>
                                                <div id="map-canvas"></div>
                                            </div>
                                        </div>
                                    </div>

                    <div class="clear"></div>
                    <div class="stock_status">
                        <p><strong>IN STOCK?</strong> Please call the store to verify the product or brand you want is currently in stock before going.<br/>Find Real Food cannot guarantee product inventory on any given day.</p>
                    </div>
                </div>

                   
<script type="text/javascript">
 
$(document).ready(function() {

        
     
      var next_page ='';
    var allpages = new Array(); 
    function lastAddedLiveFunc()
    {
        if($('.view_all_products').attr('data-page')){
         next_page = $('.view_all_products').attr('data-page')+'a';
         
            if(key_exists(next_page, allpages)){
                     
            }else{
                
                allpages.push(next_page);
           
                $.get('<%= request.original_url %>', { page: $('.view_all_products').attr('data-page')}, null, "script");
          
            }
          
        }else{
            $('.view_all_products').hide();
        }
         return false;
    };
    
     function key_exists(key, search) {
    if (!search || (search.constructor !== Array && search.constructor !== Object)) {
        return false;
    }
    for (var i = 0; i < search.length; i++) {
        if (search[i] === key) {
            return true;
        }
    }
    return key in search;
    }

    $('.view_all_products').click(function(){
        lastAddedLiveFunc();
    })

      
 
});
    

</script>
