<%= render '/layouts/googlemap' %>
<section>
        <div class="main_container">
            <div class="inner_banner">
                
                <%= image_tag("products-search.jpg", :alt => "Product Search") %>
                <div class="caption_part">
                     <div class="container">
                          <h1>Product Search <% if params[:search] %><span>(<%= params[:search] %>)</span><% end %></h1>
                     </div>
                </div>
            </div>
            <%= render '/searches/filter' %>
           <div class="products_part"><%= render 'products' %></div>
            <div class="clear"></div>
        </div>
    </section>
    <script type="text/javascript">
 
$(document).ready(function() {

    <% if @locations %>
      setTimeout(function(){ 
        <% @locations.each do |lrow| %>
        <% if lrow.slug %>
        codeAddress('<%= lrow.full_address %>','<a href="/location/<%= lrow.slug %>"><%= lrow.name %></a><%= lrow.full_address %>');
        <% else %>
        codeAddress('<%= lrow.full_address %>','<a href="javascript:void(0);"><%= lrow.name %></a><%= lrow.full_address %>');
        <% end %>
        <% end %>
      }, 5000);
      <% end %>
      
});
    

</script>