$('.products_part').html('<%= escape_javascript(render("products")) %>');
$('.products').slimScroll({
          height:496,
          wheelStep: 2,
          alwaysVisible: true,
          railVisible: true
      }).bind('slimscroll', function(e, pos){
        console.log("Reached " + pos);
        });
$('.expand a').click(function(){
        $('.expand a').toggleClass('close');
        $('.modified.home_right').toggleClass('goback');
        $('.prd_search .home_left').toggleClass('fullwidth');
        $('.modified.home_right').toggleClass('nullwidth');
        $('.map_button.hide_for_mobile').toggleClass('expanded');
        $('.tab_container').toggleClass('fullwidth');
        }) 

$('.media_text .location a').click(function(){
      $(this).parent('.location').parent('.media_text').next().next('.location_list').slideToggle(400)
 })

$('.etabs .tab a').click(function(evt){
          evt.preventDefault();
          $('.etabs .tab a').removeClass('active');
          $(this).addClass('active');
          var divId=$(this).attr('href');
          $('.tab_div').fadeOut().removeClass('active');
          $(divId).fadeIn().addClass('active');
          })


  initialize();
  <% if @locations %>
      setTimeout(function(){ 
        <% @locations.each do |lrow| %>
        <% if lrow.slug %>
        codeAddress('<%= lrow.full_address %>','<a href="/location/<%= lrow.slug %>"><%= lrow.name %></a><%= lrow.full_address %>');
        <% else %>
        codeAddress('<%= lrow.full_address %>','<a href="javascript:void(0);"><%= lrow.name %></a><%= lrow.full_address %>');
        <% end %>
        <% end %>
      }, 5000);
      <% end %>


