<%= render '/layouts/googlemap' %>
<section>
        <div class="main_container">
            <div class="inner_banner">
                
                <%= image_tag("products-search.jpg", :alt => "Product Search") %>
                <div class="caption_part">
                     <div class="container">
                          <h1>Product Search <% if params[:search] %><span>(<%= params[:search] %>)</span><% end %></h1>
                     </div>
                </div>
            </div>
            <%= render '/searches/filter' %>
           <div class="products_part"><%= render 'products' %></div>
            <div class="clear"></div>
        </div>
    </section>
    <script type="text/javascript">
 
$(document).ready(function() {

   <% if @locations %>
      
        <% @locations.each do |lrow, i| %>
        setTimeout(function(){ 
        <% if lrow.slug %>
        codeAddress('<%= lrow.full_address %>','<a href="/location/<%= lrow.slug %>"><%= lrow.name %></a><%= lrow.full_address %>');
        <% else %>
        codeAddress('<%= lrow.full_address %>','<a href="javascript:void(0);"><%= lrow.name %></a><%= lrow.full_address %>');
        <% end %>
         }, <%= i %>*200);
        <% end %>
     
      <% end %>


       $("#search_field_new").keyup(function(){
 
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;
 
        // Loop through the comment list
        $("#products .product_item").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });
        
        $("#brands .product_item").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });

        
    });
      
});
    

</script>