 <%= render '/layouts/googlemap' %>
 <section>
    	<div class="main_container">
            <div class="inner_banner brands_page">
            	<div class="container">
                	<a href="javascript:;" class="banner_logo">
                		
                	 	<% if @brand.picture.present? %>
                              <%= image_tag (@brand.picture(:original)) %>
                        <% else %>
                              <%= image_tag('brand_no_image.jpg', :alt => @brand.name) %>
                        <% end %>

                	</a>
                    <div class="brands_options">
                    	<div class="left">
                            <h1><%= @brand.name%></h1>
                            <%
                            @brand.website = "http://#{@brand.website}" unless @brand.website[/^https?/]    
                            %>
                            <p><a href="javascript:;"><%= number_to_phone(@brand.phone, area_code: true)     %></a>   -   <a href="<%= @brand.website %>" target="_blank"><%= @brand.website %></a></p>
 							                <ul>
                                <% if @brand.order_by_online && @brand.website !='' %><li class="online"><a href="<%= @brand.website %>" target="_blank">Order from brand's website</a></li> 
                                <% else %>
                                <li class="online disabled"><a href="javascript:void(0);" >Order from brand's website</a></li> 
                                <% end %>
                               <% if @brand.order_by_phone && @brand.phone !='' %> <li class="byphone"><a href="javascript:;">Order By Phone</a></li> 
                               <% else %>
                               <li class="byphone disabled"><a href="javascript:;">Order By Phone</a></li> 
                               <% end %>
                               <% if @brand.store_locator_url !='' && @brand.third_party_available %> <li class="store"><a href="<%= @brand.store_locator_url %>" target="_blank">Sold by online retailer</a></li>
                               <% else %>
                                <li class="store disabled"><a href="javascript:;">Sold by online retailer</a></li>
                               <% end %>
                               <% if @brand.store_farmers_market %>
                                <li class="farmer_market"><a href="javascript:;">Sold in stores or farmer's markets</a></li>
                                <% else %>
                                <li class="farmer_market disabled"><a href="javascript:;">Sold in stores or farmer's markets</a></li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="right">
                        	<ul>
                            	
                                <li class="brand_share" ><a href="javascript:;"><span class='st_sharethis_custom' displayText='Share'>Share</span></a></li>
                                 <% if user_signed_in? %>
                                <li class="brand_flag "><a  class="light_pop_trigger" href="#flagProduct">Flag Product</a></li>
                                <!--<li class="brand_location "><a class="light_pop_trigger" href="#addLocation">Add Location</a></li>-->
                                <li class="brand_fav "><a  class="light_pop_trigger" href="javascript:;">Add To My Favorites</a></li>
                                <% else %>
                                <li class="brand_flag "><a  class="light_pop_trigger" href="#login">Flag Product</a></li>
                               <!-- <li class="brand_location "><a class="light_pop_trigger"  href="#login">Add Location</a></li>-->
                                <li class="brand_fav1 "><a class="light_pop_trigger"  href="#login">Add To My Favorites</a></li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    
                </div>
            </div>
            <div class="products_part">
            	<div class="container">
                	<ul class='etabs'>
                       <li class='tab'><a href="#nearby" class="active">Nearby Products</a></li>
                       <li class='tab'><a href="#allbrands">All Products</a></li>
                    </ul>
                    <div class="clear"></div>
                	<div class='tab_container fl'>
                    	<div class='panel_container'>
  							<div id="nearby" class="tab_div active">
                                <div class="home_body prd_search">
                                     
                                    <div class="clear"></div>
                                    <div class="home_left fl">
                                         <% if @products %>
                                         <div class="products">
                               <% @products.each do |product| %> 
                              
                               
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                            <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                             </a>
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                <% end %>
                                                 <% $i = 0
                                                if product.avg_rating %>
                                                <p class="rating">

                                                
                                               <% while $i < product.avg_rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 
                                              %>
                                               <span>(<%= product.rating_count %>)</span></p>
                                               <% end  %>
                                            <p class="location"><a href="javascript:void(0);"><%= get_location_count(product.id, @location) %> Location(s) Nearby</a></p>
                                            </div>

                                            <div class="clear"></div>
                                               <% if @locations %>
                                              <div class="location_list">
                                              <ul>
                                                <% @locations.each do |lrow| %>
                                              <li>
                                              <h4 class="loaction_title"><a href="/location/<%= lrow.slug %>"><%= lrow.name %></a></h4>
                                              <a href="javascript:;"><span><%= lrow.full_address %></span></a>
                                              </li>
                                              <% end %>
                                              </ul>
                                              </div>
                                              <% end %>


                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               
                                <div class="expand">
                                                <a href="javascript:;"></a>
                                            </div>
                            </div>

                             <% else %>
                                            <div class="products"> <div class="product_item"><p class="notification" >No Products Available</p></div>
                                            </div>

                                            

                            <% end %>
                                    </div>
                                     
                                    <div class="clear"></div>
                                </div>
                        	</div>
                            <div id="allbrands" class="tab_div">
                               <div class="home_body prd_search">
                                  
                                    <div class="clear"></div>
                                    <div class="home_left fl">
                                        <% if @productsall %>
                                         <div class="products">
                               <% @productsall.each do |product| %> 
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                            <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                             </a>
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                <% end %>
                                                <% $i = 0
                                                if product.avg_rating %>
                                                <p class="rating">

                                                
                                               <% while $i < product.avg_rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 
                                              %>
                                               <span>(<%= product.rating_count %>)</span></p>
                                               <% end  %>

                                                
                                            </div>

                                            

                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               <div class="expand">
                                                <a href="javascript:;"></a>
                                            </div>
                                
                            </div> 
                             <% else %>
                                            <div class="products"> <div class="product_item"><p class="notification" >No Products Available</p></div>
                                            </div>

                                            

                            <% end %>
                                    </div>
                                    
                                     

                                    <div class="clear"></div>
                                </div>
                             </div>
                        </div>
                    </div>

                    <% if @location!='' %>
                                        <%= form_tag("/map", :method => "post", :class => "map") do %>
                                          <div class="map_button fr hide_for_mobile with_tab">
                                <input name="location" value="<%= @location %>" type="hidden" />
                                 <input type="submit" value="Full Screen Map">
                            </div>
                            <% end %> 


                                        <%= form_tag("/map", :method => "post", :class => "map") do %>
                        <div class="map_button fr hide_for_desktop">
                                <input name="location" value="<%= @location %>" type="hidden" />
                                 <input type="submit" value="Full Screen Map">
                            </div>
                            <% end %> 
                          <% end %>
                             <div class="home_right modified fr">
                                        <div class="home_right_container">
                                            <div class="map_area">
                                                <%= render '/layouts/zipsearch' %>
                                                <div id="map-canvas"></div>
                                            </div>
                                        </div>
                                    </div>

                    <div class="clear"></div>
                    <div class="stock_status">
                        <p><strong>IN STOCK?</strong> Please call the store to verify the product or brand you want is currently in stock before going.<br/>Find Real Food cannot guarantee product inventory on any given day.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="alert_overlay">
  <div class="alert_div">
      <span class="close">X</span>
    <span class="alert_text">some text</span>
  </div>
</div>
    </section>

    <div class="light_popup" id="flagProduct">
  <div class="light_pop_container">
      <span class="pop_close"></span>
      <div class="light_pop_body">
          <div class="register_popup">
                <h1 class="login_title"><span>flag</span> product</h1>
                <p class="fr"><span class="required">*</span> Indicates required field</p>
                <div class="popup_form">
                    <form id="frm_flag_prd"  method="post" action="">
                        <div class="field">
                            <label>Comments/Notes:<span class="required">*</span></label>
                            <div class="form_control">
                                <textarea rows="5" id="flag_cont" name="flag_cont"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="empty">&nbsp;</label>
                            <div class="form_control">
                                <input type="submit" value="Submit"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% # render '/layouts/useractions' %>
    <script type="text/javascript">
 
$(document).ready(function() {

        

     $("#frm_flag_prd").validate({
                    rules: {
                        flag_cont: "required"
                    },
                    messages: {
                        flag_cont: "This Field is Required"
                    },submitHandler : function(form) {
                     $.get('/brands/addflag', { brand_id:<%= @brand.id %>, comment:$("#flag_cont").val() }, null, "script");
                     $(".pop_close").trigger('click');
                     return false;
                  }
                });

    $('.brand_fav').click(function(){

        $.get('/brands/addtofavorite', { brand_id:<%= @brand.id %> }, null, "script");
        return false;


     });

    <% if @locations %>
      setTimeout(function(){ 
        <% @locations.each do |lrow| %>
        <% if lrow.slug %>
        codeAddress('<%= lrow.full_address %>','<a href="/location/<%= lrow.slug %>"><%= lrow.name %></a><%= lrow.full_address %>');
        <% else %>
        codeAddress('<%= lrow.full_address %>','<a href="javascript:void(0);"><%= lrow.name %></a><%= lrow.full_address %>');
        <% end %>
        <% end %>
      }, 5000);
      <% end %>

 
});
    

</script>
