<%  unless @products.blank? %>
	$('#products .products').append("<%=escape_javascript(render :partial => 'products/product', :collection => @products, :as => :product)%>");
	$('#brands .products').append("<%=escape_javascript(render :partial => 'products/brand', :collection => @brands, :as => :brand)%>");
	$('.view_all_products').attr('data-page','<%= @products.next_page %>')
	<% if @products.next_page %>
	$('#products .page_results').html('Showing <span><%= @products.offset+30 %></span> of <span><%= @products.total_entries %></span>')
   <% else %>
   $('#products .page_results').html('Showing <span><%= @products.total_entries %></span> of <span><%= @products.total_entries %></span>')
   <% end %>

<% else %>
	$('.view_all_products').attr('data-page','')
<% end %>

	   