<%  unless @products.blank? %>
	$('#products .products').append("<%=escape_javascript(render :partial => 'products/product', :collection => @products, :as => :product)%>");
	$('#brands .products').append("<%=escape_javascript(render :partial => 'products/brand', :collection => @brands, :as => :brand)%>");
	$('.view_all_products').attr('data-page','<%= @products.next_page %>')
	<% if @products.next_page %>
	<%  unless @productsnear.blank? %>
	$('#productsnear .page_results').html('Showing <span><%= @productsnear.offset+30 %></span> of <span><%= @productsnear.total_entries %></span>')
	<% end %>
	$('#products .page_results').html('Showing <span><%= @products.offset+30 %></span> of <span><%= @products.total_entries %></span>')
	<%  unless @brands.blank? %>
	$('#brands .page_results').html('Showing <span><%= @brands.offset+30 %></span> of <span><%= @brands.total_entries %></span>')
	<% end %>
   <% else %>
   <%  unless @productsnear.blank? %>
   $('#productsnear .page_results').html('Showing <span><%= @productsnear.total_entries %></span> of <span><%= @productsnear.total_entries %></span>')
   <% end %>
	$('#products .page_results').html('Showing <span><%= @products.total_entries %></span> of <span><%= @products.total_entries %></span>')
	<%  unless @brands.blank? %>
	$('#brands .page_results').html('Showing <span><%= @brands.total_entries %></span> of <span><%= @brands.total_entries %></span>')
	<% end %>

   
   <% end %>

<% else %>
	$('.view_all_products').attr('data-page','')
<% end %>

	   