<%= render '/layouts/googlemap' %>
<section>
        <div class="main_container">
            <div class="inner_banner">
                
                <img src="/assets/<%= @category.slug %>.jpg" alt="<%= @category.title %>" width="1366" height="250" />

                <div class="caption_part like_home">
                     <div class="container">
                          <h1><%= @category.title %></h1>
                        
                     </div>
                </div>
            </div>
            
            <%= render '/searches/filter' %>

            <div class="products_part"><%= render '/searches/products' %></div>

            <div class="clear"></div>
        </div>
    </section>

     

    <script type="text/javascript">
$(document).ready(function(){

    
      <% if @locations %>
        
        <% @locations.each_with_index do |lrow, i| %>
        setTimeout(function(){ 
        <% if lrow.slug %>
        <% products = get_products_count_by_location(lrow.id) %>
        codeAddress('<%= lrow.full_address %>','<a href="/location/<%= lrow.slug %>"><%= lrow.name %></a><a href="/location/<%= lrow.slug %>"><%= products %> Product(s)</a><%= lrow.full_address %>');
        <% else %>
        codeAddress('<%= lrow.full_address %>','<a href="javascript:void(0);"><%= lrow.name %></a><%= products %> Product(s) <%= lrow.full_address %>');
        <% end %>
         }, <%= i*300 %>+7000);
        
        <% end %>
     
    <% end %>

    $("#search_field_new").keyup(function(){
 
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;
 
        // Loop through the comment list
        $("#products .product_item").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });
        
        $("#brands .product_item").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });

        
    });


  var next_page ='';
    var allpages = new Array(); 
    function lastAddedLiveFunc()
    {
        if($('.view_all_products').attr('data-page')){
         next_page = $('.view_all_products').attr('data-page')+'a';
         
            if(key_exists(next_page, allpages)){
                     
            }else{
                
                allpages.push(next_page);
           
                $.get('<%= request.original_url %>', { page: $('.view_all_products').attr('data-page')}, null, "script");
          
            }
          
        }else{
            $('.view_all_products').hide();
        }
         return false;
    };
    
     function key_exists(key, search) {
    if (!search || (search.constructor !== Array && search.constructor !== Object)) {
        return false;
    }
    for (var i = 0; i < search.length; i++) {
        if (search[i] === key) {
            return true;
        }
    }
    return key in search;
    }

    $('.view_all_products').click(function(){
        lastAddedLiveFunc();
    })

    

});
   
    </script>