                                            <div class="product_item">
                                                <div class="product_item_body">
                                                    <div class="media product">
                                                        <a href="/brand/<%= brand.slug %>" class="media_img">
                                                         <% if brand.picture.present? %>
                                                        <%= image_tag (brand.picture(:thumb)) %>
                                                        <% else %>
                                                        <%= image_tag("product_no_image.png", :alt => brand.name) %>
                                                        <% end %>

                                                       </a>
                                                        <div class="media_text">
                                                            <p class="media_sub_title">
                                                                <% if brand.slug !='' %><a href="/brand/<%= brand.slug %>">
                                                                <% else %>
                                                                <a href="javascript:void(0);">
                                                                <% end %>
                                                                <%= brand.name%></a></p>
                                                       

                                                        </div>
                                                         <div class="clear"></div>
                                                           

                                                    </div>
                                                </div>
                                            </div>