<div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                            <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                             </a>
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                <% end %>
                                                <% $i = 0
                                                if product.avg_rating %>
                                                <p class="rating">

                                                
                                               <% while $i < product.avg_rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 
                                              %>
                                               <span>(<%= product.rating_count %>)</span></p>
                                               <% end  %>

                                                
                                            </div>

                                            

                                        </div>
                                    </div>
                                </div>