 
                                        
                                        
                                        <div class="comment">
                                             <% user_details = get_user_details(comment.user_id) %>
                                              <% if user_details %>
                                             
                                            <div class="user_img fl">
                                              <% unless user_details.avatar_file_name %>
                                               <img src="/assets/review_user_default.png" alt="User Name"/>
                                                
                                              <% else %>
                                                <%= image_tag (user_details.avatar(:original)) %>
                                               <% end %>
                          
                                            </div>
                                            <% end %>


                                            
                                            <div class="comment_dtl">
                                               
                                                <% if user_details %>
                                                <h3><%= user_details.fname %> <%= user_details.name %> <span>(<%= relative_time(comment.created_at) %>)</span></h3>
                                                <% end %>

                                                
                                                     <% $i = 0
                                                if comment.rating %>
                                                <p class="rating">

                                                
                                               <% while $i < comment.rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 end
                                              %> 
                                                <p><%= comment.comment %></p>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                      