 <section>
        <div class="main_container">
            <div class="product_detail_container">
                <div class="container">
                    <div class="product_detail_top">
                        <div class="product_left fl">
                            
                            <div class="product_img">
                                 
                                     <% branddetails = get_brand_details(@product.brand_id) %>
                                    <% if @product.picture.present? %>
                                           <%= image_tag (@product.picture(:small)) %>
                                            <% else %>
                                            <%= image_tag('product_detail_no_imge.jpg', :alt => "How to add products") %>
                                            <% end %>
                                <div class="wapf_rating"><p>WAPF Rating <span class="wapf_rating_detail fr"><%= @product.quality %></span></p></div>
                                <div class="detail_rating">
                                    <div>
                                        User’s Rating  
                                        <% if total_rating(@product.id) %>
                                        <span class="detail_rating_span fr">
                                            <% $i = 0 
                                                if @product.rating %>
                                               <% while $i < @product.rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("rate_star_red_detail.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                end
                                              %>

                                            <span>(<%= total_rating(@product.id) %>)</span>
                                        </span>

                                        <% end %>
                                        <div class="clear"></div>    
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <% user = get_user_details(@product.user_id) %>
                            <% unless user.blank? %>
                            <p class="sugg_by">This product was suggested by: <span class="athr"><%= user.name %></span> <span class="date">on <%= @product.created_at.strftime '%m %d, %Y'%></span></p>
                            <% end %>
                        </div>
                        <% if branddetails %>
                        <div class="product_right fr">
                            
                            <h1 class="product_title"><%= @product.name %></h1>
                           
                            <h3 class="brand_title"><a href="/brand/<%= branddetails.slug %>"><%= branddetails.name %></a></h3>
                            <div class="prd_comp_logo fr">
                                <a href="javascript:;"> 
                                    <% if branddetails.picture.present? %>
                                           <%= image_tag (branddetails.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag('category_no_img12.jpg', :alt => branddetails.name) %>
                                            <% end %>

                                </a>
                            </div>
                            <div class="contact_links">
                                <% if branddetails.order_by_phone && branddetails.phone !='' %>
                                <p class="ord_phone">Order by Phone <a href="javascript:;"><%= branddetails.phone %></a></p>
                                <% end %>
                                <% if branddetails.order_by_online && branddetails.website!='' %>
                                <p class="ord_online">Order Online <a href="javascript:;">(<%= branddetails.website %>)</a></p>
                                <% end %>
                                <% if branddetails.store_farmers_market && branddetails.store_locator_url!='' %>
                                <p class="ord_store">Available in Stores <a href="javascript:;">(<%= branddetails.store_locator_url%>)</a></p>
                                <% end %>
                            </div>
                            <div class="product_button_set">
                                <span class='st_sharethis_custom' displayText='Share'>Share</span>
                                 <% if user_signed_in? %>
                                 <a href="#flagProduct" class="flag_prd light_pop_trigger">flag product</a>
                                
                                <a href="javascript:void(0);" class="add_fav">Add to My Favorites</a>
                                <% else %>
                                 <a href="#login" class="flag_prd light_pop_trigger">flag product</a>
                                
                                <a href="#login" class="light_pop_trigger">Add to My Favorites</a>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                        <div class="clear"></div>
                    </div>
                    <div class="product_detail_bottom">
                        <div class="prd_btm_left fl">
                            <div class="prd_btm_lft_container">
                                <div class="view_location_part">
                                    <a href="javascript:;" class="view_lct_btn">View Locations</a>
                                    <div class="view_location_part_container">
                                        <img src="/assets/map.jpg" alt="map"/>
                                    </div>
                                </div>
                                <div class="prd_btm_right_responsive">
                            <h1>Similar Products Nearby</h1>
                            <% if @similar_product %>
                            <div class="products">
                               <% @similar_product.each do |product| %> 
                              
                               
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                             
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                <% end %>
                                                <% $i = 0
                                                if product.avg_rating %>
                                                <p class="rating">

                                                
                                               <% while $i < product.avg_rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 
                                              %>
                                               <span>(<%= product.rating_count %>)</span></p>
                                               <% end  %>
                                                <p class="location"><a href="javascript:void(0);"><%= get_location_count(product.id, @location) %> Location(s) Nearby</a></p>
                                            </div>
                                            <div class="location_list">
                                              <ul>
                                                <% loca = get_locations_list(product.id,@location) %>
                                                <% loca.each do |row| %>
                                            <li>
                                              <h4 class="loaction_title"><a href="/location/<%= row[19] %>"><%= row[1] %></a></h4>
                                              <a href="javascript:;"><span><%= row[2] %></span>, <%= row[3] %>, <%= row[4]%>, <%= row[5] %></a>
                                            </li>
                                            <% end %>
                                             
                                             </ul>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               
                                
                            </div>
                            <% end %>
                        </div>
                                <div class="prd_dtl_review_part">
                                    <h1>User Reviews</h1>
                                    <!--<div class="avg_rating">
                                            <a href="javascript:;"><img alt="star" src="/assets/rate_star_red_detail.png"></a>
                                            <a href="javascript:;"><img alt="star" src="/assets/rate_star_red_detail.png"></a>
                                            <a href="javascript:;"><img alt="star" src="/assets/rate_star_red_detail.png"></a>
                                            <a href="javascript:;"><img alt="star" src="/assets/rate_star_red_detail.png"></a>
                                            <a href="javascript:;"><img alt="star" src="/assets/rate_star_gray_detail.png"></a>
                                    </div>-->
                                    <div class="leave_comment">
                                        <textarea class="leave_cmt" placeholder="Share your thoughts on this product..."></textarea>
                                        <span class="txt_arrow"></span>
                                    </div>
                                    <% if user_signed_in? %>
                                    <div class="comment_btn comment_post">
                                        <a href="javascript:;">post</a>
                                    </div>
                                    <% else %>
                                    <div class="comment_btn">
                                        <a class="light_pop_trigger" href="#login">post</a>
                                    </div>
                                    <% end %>
                                    <div class="user_comments">
                                        
                                        
                                        <% comments = get_rating_list(@product.id) %>
                                        
                                        <% comments.each do |c| %>
                                        <div class="comment">
                                             <% user_details = get_user_details(c.user_id) %>
                                              <% if user_details %>
                                            <div class="user_img fl">
                                                <a href="javascript:;"><%= image_tag("review_user_default.png", :alt => "User") %></a>
                                            </div>
                                            <% else %>
                                            <div class="user_img fl">
                                                <a href="javascript:;"><%= image_tag("review_user_default.png", :alt => "User") %></a>
                                            </div>
                                            <% end %>
                                            <div class="comment_dtl">
                                               
                                                <% if user_details %>
                                                <h3><%= user_details.fname %> <%= user_details.name %></h3>
                                                <% end %>
                                                
                                                     <% $i = 0
                                                if c.rating %>
                                                <p class="rating">

                                                
                                               <% while $i < c.rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 end
                                              %> 
                                                <p><%= c.comment %></p>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <% end %>
                                         
                                    </div>
                                    <!--<div class="see_all">
                                        <a href="javascript:;">See All</a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="prd_btm_right fr">
                            <h1>Similar Products Nearby</h1>
                            <% if @similar_product %>
                            <div class="products">
                               <% @similar_product.each do |product| %> 
                              
                               
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                             
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                <% end %>
                                                <% $i = 0
                                                if product.avg_rating %>
                                                <p class="rating">

                                                
                                               <% while $i < product.avg_rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 
                                              %>
                                               <span>(<%= product.rating_count %>)</span></p>
                                               <% end  %>
                                                <p class="location"><a href="javascript:void(0);"><%= get_location_count(product.id, @location) %> Location(s) Nearby</a></p>
                                            </div>
                                            <div class="location_list">
                                              <ul>
                                                <% loca = get_locations_list(product.id,@location) %>
                                                <% loca.each do |row| %>
                                            <li>
                                              <h4 class="loaction_title"><a href="/location/<%= row[19] %>"><%= row[1] %></a></h4>
                                              <a href="javascript:;"><span><%= row[2] %></span>, <%= row[3] %>, <%= row[4]%>, <%= row[5] %></a>
                                            </li>
                                            <% end %>
                                             
                                             </ul>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               
                                
                            </div>
                            <% end %>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="alert_overlay">
    <div class="alert_div">
        <span class="close">X</span>
        <span class="alert_text">some text</span>
    </div>
</div>
    </section>


    <div class="light_popup" id="flagProduct">
    <div class="light_pop_container">
        <span class="pop_close"></span>
        <div class="light_pop_body">
            <div class="register_popup">
                <h1 class="login_title"><span>flag</span> product</h1>
                <p class="fr"><span class="required">*</span> Indicates required field</p>
                <div class="popup_form">
                    <form id="frm_flag_prd"  method="post" action="">
                        <div class="field">
                            <label>Comments/Notes:<span class="required">*</span></label>
                            <div class="form_control">
                                <textarea rows="5" id="flag_cont" name="flag_cont"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="empty">&nbsp;</label>
                            <div class="form_control">
                                <input type="submit" value="Submit"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<%= render '/layouts/useractions' %>
    <script type="text/javascript">
$(document).ready(function(){
    
    
    $('.add_fav').click(function(){

        $.get('/products/addtofavorite', { product_id:<%= @product.id %> }, null, "script");
        return false;


     });


      $("#frm_flag_prd").validate({
                    rules: {
                        flag_cont: "required"
                    },
                    messages: {
                        flag_cont: "This Field is Required"
                    },submitHandler : function(form) {
                     $.get('/products/addflag', { product_id:<%= @product.id %>, comment:$("#flag_cont").val() }, null, "script");
                     $(".pop_close").trigger('click');
                     return false;
                  }
                });
      
    $('.comment_post a').click(function(){
        if($(".leave_cmt").val()!=''){
        $.get('/products/addrating', { ratable_id:<%= @product.id %>,comment:$(".leave_cmt").val() }, null, "script");
    }else{
        $(".alert_text").html("Comment should not be empty");
        $(".alert_overlay").fadeIn();
    }
        return false;


     });
    
    $(".close").click(function(){
    $(".alert_overlay").fadeOut();
});
    
});
</script>