 <section>
        <div class="main_container">
            <div class="product_detail_container">
                <div class="container">
                    <div class="product_detail_top">
                        <div class="product_left fl">
                            
                            <div class="product_img">
                                 
                                     <% branddetails = get_brand_details(@product.brand_id) %>
                                    <% if @product.picture.present? %>
                                           <%= image_tag (@product.picture(:small)) %>
                                            <% else %>
                                            <%= image_tag('product_detail_no_imge.jpg', :alt => "How to add products") %>
                                            <% end %>
                                <div class="wapf_rating"><p>WAPF Rating <span class="wapf_rating_detail fr"><%= @product.quality %></span></p></div>
                                <div class="detail_rating">
                                    <div>
                                        User’s Rating  
                                        <% if total_rating(@product.id) %>
                                        <span class="detail_rating_span fr">
                                            <% $i = 0 
                                                if @product.rating %>
                                               <% while $i < @product.rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("rate_star_red_detail.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                end
                                              %>

                                            <span>(<%= total_rating(@product.id) %>)</span>
                                        </span>

                                        <% end %>
                                        <div class="clear"></div>    
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>









    <div class="light_popup" id="flagProduct">
    <div class="light_pop_container">
        <span class="pop_close"></span>
        <div class="light_pop_body">
            <div class="register_popup">
                <h1 class="login_title"><span>flag</span> product</h1>
                <p class="fr"><span class="required">*</span> Indicates required field</p>
                <div class="popup_form">
                    <form id="frm_flag_prd"  method="post" action="">
                        <div class="field">
                            <label>Comments/Notes:<span class="required">*</span></label>
                            <div class="form_control">
                                <textarea rows="5" id="flag_cont" name="flag_cont"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="empty">&nbsp;</label>
                            <div class="form_control">
                                <input type="submit" value="Submit"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render '/layouts/useractions' %>
    <script type="text/javascript">
$(document).ready(function(){
    
    
    $('.add_fav').click(function(){

        $.get('/products/addtofavorite', { product_id:<%= @product.id %> }, null, "script");
        return false;


     });


      $("#frm_flag_prd").validate({
                    rules: {
                        flag_cont: "required"
                    },
                    messages: {
                        flag_cont: "This Field is Required"
                    },submitHandler : function(form) {
                     $.get('/products/addflag', { product_id:<%= @product.id %>, comment:$("#flag_cont").val() }, null, "script");
                     $(".pop_close").trigger('click');
                     return false;
                  }
                });
      
    $('.comment_post a').click(function(){
        if($(".leave_cmt").val()!=''){
        $.get('/products/addrating', { ratable_id:<%= @product.id %>,comment:$(".leave_cmt").val() }, null, "script");
    }else{
        $(".alert_text").html("Comment should not be empty");
        $(".alert_overlay").fadeIn();
    }
        return false;


     });
    
    $(".close").click(function(){
    $(".alert_overlay").fadeOut();
});
    
});
</script>