 <script type="text/javascript" src="/assets/jquery.webRating.js"></script>
 <%= render '/layouts/googlemap' %>
 <section>
        <div class="main_container">
            <div class="product_detail_container">
                <div class="container">
                    <div class="product_detail_top">
                        <div class="product_left fl">
                            
                            <div class="product_img">
                                 
                                     <% branddetails = get_brand_details(@product.brand_id) %>
                                     <%
                                       if branddetails.website
                                        branddetails.website = "http://#{branddetails.website}" unless branddetails.website[/^https?/]
                                        end    
                                        if branddetails.store_locator_url
                                        branddetails.store_locator_url = "http://#{branddetails.store_locator_url}" unless branddetails.store_locator_url[/^https?/]
                                        end
                                    %>

                                    <% if @product.picture.present? %>
                                           <%= image_tag (@product.picture(:original)) %>
                                            <% else %>
                                            <%= image_tag('product_detail_no_imge.jpg', :alt => "How to add products") %>
                                            <% end %>
                                <div class="wapf_rating"><p>WAPF Rating <span class="wapf_rating_detail fr"><%= @product.quality %></span></p></div>
                                 
                                 <div class="detail_rating">
                                    <div>
                                        User’s Rating  
                                        <% if total_rating(@product.id) %>
                                        <span class="detail_rating_span fr">
                                            <% $i = 0 
                                                if @product.rating %>
                                               <% while $i < @product.rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("rate_star_red_detail.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                end
                                              %>

                                            <span>(<%= total_rating(@product.id) %>)</span>
                                        </span>

                                        <% end %>
                                        <div class="clear"></div>    
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>


                            <% if @product.user_id %>
                            <% user = get_user_details(@product.user_id) %>
                            <% unless user.blank? %>
                            <p class="sugg_by">This product was suggested by: <span class="athr"><%= user.name %></span> <span class="date">on <%= @product.created_at.strftime '%m %d, %Y'%></span></p>
                            <% end %>
                            <% end %>
                        </div>
                        <% if branddetails %>
                        <div class="product_right fr">
                            
                            <h1 class="product_title"><%= @product.name %></h1>
                           <% if branddetails.slug %>
                             <h3 class="brand_title"><a href="/brand/<%= branddetails.slug %>"><%= branddetails.name %></a></h3>
                            <% else %>
                             <h3 class="brand_title"><a href="javascript:void(0);"><%= branddetails.name %></a></h3>
                             <% end %>
                            <div class="prd_comp_logo fr">
                                <a href="javascript:;"> 
                                    <% if branddetails.picture.present? %>
                                        <%= image_tag (branddetails.picture(:original)) %>
                                    <% else %>
                                        <%= image_tag('category_no_img12.jpg', :alt => branddetails.name) %>
                                    <% end %>

                                </a>
                            </div>
                            <div class="contact_links">
                                
                                <% if branddetails.order_by_phone && branddetails.phone !='' %>
                                <p class="ord_phone"><a href="javascript:;">Order by Phone <%= branddetails.phone %></a></p>
                                <% else %>
                                <p class="ord_phone disabled"><a href="javascript:;">Order by Phone <%= branddetails.phone %></a></p>
                                <% end %>

                                <% if branddetails.order_by_online && branddetails.website!='' %>
                                <p class="ord_online"><a target="_blank"  href="<%= branddetails.website %>">Order from brand's website</a></p>
                                <% else %>
                                <p class="ord_online disabled"><a href="javascript:;">Order from brand's website</a></p>
                                
                                <% end %>
                                
                                <% if branddetails.third_party_available %>
                                <% searchstring = branddetails.name+" "+@product.name %>
                                <p class="ord_store"> <a target="_blank" href="http://www.google.com/search?q=<%= searchstring.gsub(" ", "+") %>">Sold by online retailer</a></p>
                                <% else %>

                                <p class="ord_store disabled"> <a href="javascript:;">Sold by online retailer</a></p>
                                
                                <% end %>
                                
                                <% if branddetails.store_farmers_market %>
                                <p class="ord_store"> <a href="javascript:;">Sold in stores or farmer's markets</a></p>
                                <% else %>
                                <p class="ord_store disabled"> <a href="javascript:;">Sold in stores or farmer's markets</a></p>
                                <% end %>
                                
                            </div>
                            <div class="product_button_set">
                                <span class='st_sharethis_custom' st_summary='Check out <%= @product.name %> from <%= branddetails.name %> that I found using "Find Real Food", the WAPF Guide to the Highest Quality Foods Available here: <%= request.original_url %>.' st_image="http://findrealfoodapp.com<%= @product.picture(:small) %>" st_url="<%= request.original_url %>" st_title="<%= @product.name %>" displayText='Share'>Share</span>
                                 <% if user_signed_in? %>
                                 <a href="#flagProduct" class="flag_prd light_pop_trigger">flag product</a>
                                
                                <a href="javascript:void(0);" class="add_fav">Add to My Favorites</a>
                                <% else %>
                                 <a href="#login" class="flag_prd light_pop_trigger">flag product</a>
                                
                                <a href="#login" class="light_pop_trigger">Add to My Favorites</a>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                        <div class="clear"></div>
                    </div>

                    <div class="product_detail_bottom">
                        <div class="prd_btm_left fl">
                            <div class="prd_btm_lft_container">
                                <div class="view_location_part">
                                    <a href="javascript:;" class="view_lct_btn">View Locations</a>
                                    <div class="view_location_part_container" style="display:block;">
                                          <div id="map-canvas"></div>
                                    </div>
                                </div>
                                <div class="prd_btm_right_responsive">
                            <h1>Similar Products Nearby</h1>
                            <% if @similar_product %>
                            <div class="products">
                               <% @similar_product.each do |product| %> 
                              
                               
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img" <% if product.picture_file_name %> style="background:url('http://findrealfoodapp.com<%= product.picture(:original) %>') no-repeat scroll center center; background-size: cover;" <% end %>>
                                              +
                                                 
                                              <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                         </a>
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                 <% if branddetails.slug %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                  <% else %>
                                                  <p class="media_sub_title"><a href="javascript:void(0);"> <%= branddetails.name %></a></p>
                                                
                                                  <% end %>
                                                <% end %>
                                                <% $i = 0
                                                if product.avg_rating %>
                                                <p class="rating">

                                                
                                               <% while $i < product.avg_rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 
                                              %>
                                               <span>(<%= product.rating_count %>)</span></p>
                                               <% end  %>
                                                
                                            </div>
                                             
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               
                                
                            </div>
                            <% end %>
                        </div>
                                <div class="prd_dtl_review_part">
                                    <h1>User Reviews</h1>
                                    <!--<div class="avg_rating">
                                            <a href="javascript:;"><img alt="star" src="/assets/rate_star_red_detail.png"></a>
                                            <a href="javascript:;"><img alt="star" src="/assets/rate_star_red_detail.png"></a>
                                            <a href="javascript:;"><img alt="star" src="/assets/rate_star_red_detail.png"></a>
                                            <a href="javascript:;"><img alt="star" src="/assets/rate_star_red_detail.png"></a>
                                            <a href="javascript:;"><img alt="star" src="/assets/rate_star_gray_detail.png"></a>
                                    </div>-->
                                    <div class="divClass" data-webRating="0" data-webRatingN="0" data-webRatingArg='{"type":"product","uid":<%= @product.id %>}'></div>

                                    <div class="leave_comment">
                                        <textarea class="leave_cmt" placeholder="Share your thoughts on this product..."></textarea>
                                        <span class="txt_arrow"></span>
                                    </div>
                                    <% if user_signed_in? %>
                                    <div class="comment_btn comment_post">
                                        <a href="javascript:;">post</a>
                                    </div>
                                    <% else %>
                                    <div class="comment_btn">
                                        <a class="light_pop_trigger" href="#login">post</a>
                                    </div>
                                    <% end %>
                                    <div class="user_comments">
                                            <% comments = get_rating_list(@product.id) %>
                                        
                                        <% comments.each do |c| %>
                                        <div class="comment">
                                             <% user_details = get_user_details(c.user_id) %>
                                              <% if user_details %>
                                            
                                             <div class="user_img fl">
                                              <% unless user_details.avatar_file_name %>
                                               <img src="/assets/review_user_default.png" alt="User Name"/>
                                                
                                              <% else %>
                                                <%= image_tag (user_details.avatar(:original)) %>                                                 
                                               <% end %>
                          
                                            </div>

                                            <% end %>
                                            <div class="comment_dtl">
                                               
                                                <% if user_details %>
                                                <h3><%= user_details.fname %> <%= user_details.name %> <span>(<%= relative_time(c.created_at) %>)</span></h3>
                                                <% end %>

                                                
                                                     <% $i = 0
                                                if c.rating %>
                                                <p class="rating">

                                                
                                               <% while $i < c.rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 end
                                              %> 
                                                <p><%= c.comment %></p>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <% end %>
                                        
                                      </div>
                                      <% if comments && comments.count > 2 %>
                                     <div class="see_all" data-page="2">
                                        <a href="javascript:;">See More</a>
                                    </div> 
                                    <% end %>
                                </div>
                            </div>
                        </div>
                         <div class="prd_btm_right fr">
                            <h1>Similar Products Nearby</h1>
                            <% if @similar_product %>
                            <div class="products">
                               <% @similar_product.each do |product| %> 
                              
                               
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img" <% if product.picture_file_name %> style="background:url('http://findrealfoodapp.com<%= product.picture(:original) %>') no-repeat scroll center center; background-size: cover;" <% end %>>
                                                
                                             <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                         </a>
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                 <% if branddetails.slug %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                  <% else %>
                                                  <p class="media_sub_title"><a href="javascript:void(0);"> <%= branddetails.name %></a></p>
                                                
                                                  <% end %>
                                                <% end %>
                                                <% $i = 0
                                                if product.avg_rating %>
                                                <p class="rating">

                                                
                                               <% while $i < product.avg_rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 
                                              %>
                                               <span>(<%= product.rating_count %>)</span></p>
                                               <% end  %>
                                                 
                                            </div>
                                             
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               
                                
                            </div>
                            <% end %>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="alert_overlay">
    <div class="alert_div">
        <span class="close">X</span>
        <span class="alert_text">some text</span>
    </div>
</div>
    </section>

    <div class="light_popup" id="flagProduct">
    <div class="light_pop_container">
        <span class="pop_close"></span>
        <div class="light_pop_body">
            <div class="register_popup">
                <h1 class="login_title"><span>flag</span> product</h1>
                <p class="fr"><span class="required">*</span> Indicates required field</p>
                <div class="popup_form">
                    <form id="frm_flag_prd"  method="post" action="">
                        <div class="field">
                            <label>Comments/Notes:<span class="required">*</span></label>
                            <div class="form_control">
                                <textarea rows="5" id="flag_cont" name="flag_cont"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="empty">&nbsp;</label>
                            <div class="form_control">
                                <input type="submit" value="Submit"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


    <script type="text/javascript">
$(document).ready(function(){
    
     var next_page ='';
    var allpages = new Array(); 
    function lastAddedLiveFunc()
    {
        if($('.see_all').attr('data-page')){
         next_page = $('.see_all').attr('data-page')+'a';
         
            if(key_exists(next_page, allpages)){
                     
            }else{
                
                allpages.push(next_page);
           
                $.get('/products/comments', { ratable_id:<%= @product.id %>, page: $('.see_all').attr('data-page')}, null, "script");
          
            }
          
        }else{
            $('.see_all').hide();
        }
         return false;
    };
    
     function key_exists(key, search) {
    if (!search || (search.constructor !== Array && search.constructor !== Object)) {
        return false;
    }
    for (var i = 0; i < search.length; i++) {
        if (search[i] === key) {
            return true;
        }
    }
    return key in search;
    }

    $('.see_all').click(function(){
        lastAddedLiveFunc();
    })
    $('.add_fav').click(function(){

        $.get('/products/addtofavorite', { product_id:<%= @product.id %> }, null, "script");
        return false;


     });


      $("#frm_flag_prd").validate({
                    rules: {
                        flag_cont: "required"
                    },
                    messages: {
                        flag_cont: "This Field is Required"
                    },submitHandler : function(form) {
                     $.get('/products/addflag', { product_id:<%= @product.id %>, comment:$("#flag_cont").val() }, null, "script");
                     $(".pop_close").trigger('click');
                     return false;
                  }
                });
      
    $('.comment_post a').click(function(){
        

        if($(".divClass").attr("data-webRating") < 1){
          $(".alert_text").html("Rating should not be empty");
          $(".alert_overlay").fadeIn();

        }else if($(".leave_cmt").val()!=''){
        $.get('/products/addrating', { ratable_id:<%= @product.id %>,comment:$(".leave_cmt").val(),rating:$(".divClass").attr("data-webRating")}, null, "script");
        
        }else{
        
        $(".alert_text").html("Comment should not be empty");
        $(".alert_overlay").fadeIn();
       }
        return false;


     });
    
    $(".close").click(function(){
    $(".alert_overlay").fadeOut();
});

    jQuery("div").webRating({     
        
        ratingCount     : 5,
        imgSrc          : "/assets/blank_star_red_detail.png",
        xLocation       : 0,  
        yLocation       : 0,  
        width           : 32,  
        height          : 32,  
        onClass         : 'starOn',
        offClass        : 'starOff',
        onClassHover    : 'starOnHover',  
        offClassHover   : 'starOffHover',  
        cookieEnable        : false,
        cookiePrefix        : "myRating_",
        maxClick                : 1,
        onClick                 : function(clickScore, data){

          $(".divClass").attr("data-webRating",clickScore)
             
        },

         
        tp_showAverage  : true,
        prefixAverage   : "Avg",
        tp_eachStar     : {'1':'Very Bad','2':'Bad','3':'Ok','4':'Good','5':'Very Good'}  
}); 

     <% if @locations %>
        
        <% @locations.each_with_index do |lrow, i| %>
        setTimeout(function(){ 
        <% if lrow.slug %>
        <% products = get_products_count_by_location(lrow.id) %>
        codeAddress('<%= lrow.full_address %>','<a href="/location/<%= lrow.slug %>"><%= lrow.name %></a><a href="/location/<%= lrow.slug %>"><%= products %> Product(s)</a><%= lrow.full_address %>');
        <% else %>
        codeAddress('<%= lrow.full_address %>','<a href="javascript:void(0);"><%= lrow.name %></a><%= products %> Product(s)<%= lrow.full_address %>');
        <% end %>
         }, <%= i+1 %>*200);
        
        <% end %>
     
<% end %>

    
});
</script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-60b58715-9a18-f952-26e5-d7c1b1165d91", doNotHash: false, doNotCopy: false, hashAddressBar: false});
</script>