 <section>
        <div class="main_container">
            <div class="product_detail_container">
                <div class="container">
                    <div class="product_detail_top">
                        <div class="product_left fl">
                            
                            <div class="product_img">
                                 
                                     <% branddetails = get_brand_details(@product.brand_id) %>
                                    <% if @product.picture.present? %>
                                           <%= image_tag (@product.picture(:small)) %>
                                            <% else %>
                                            <%= image_tag('product_detail_no_imge.jpg', :alt => "How to add products") %>
                                            <% end %>
                                <div class="wapf_rating"><p>WAPF Rating <span class="wapf_rating_detail fr"><%= @product.quality %></span></p></div>
                                <div class="detail_rating">
                                    <div>
                                        User’s Rating  
                                        <% if total_rating(@product.id) %>
                                        <span class="detail_rating_span fr">
                                            <% $i = 0 
                                                if @product.rating %>
                                               <% while $i < @product.rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("rate_star_red_detail.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                end
                                              %>

                                            <span>(<%= total_rating(@product.id) %>)</span>
                                        </span>

                                        <% end %>
                                        <div class="clear"></div>    
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            

                            