<section>
    	<div class="main_container">
            <div class="inner_banner locations_page">
            	<div class="container">
                	<a href="javascript:;" class="banner_logo"> 
                        <% if @location.picture.present? %>
                                           <%= image_tag (@location.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("location_logo.png", :alt => "star") %>
                                            <% end %>
                    </a>
                    <div class="locations_options">
                    	<ul>
                        	<li>
                            	<h1 class="lct_title"><%= @location.name %></h1>
                                <p class="lct_desc"><%= @location.address %>, <%= @location.city %>, <%= get_state_name(@location.state_id) %> <%= @location.zip %></p>
                            </li>
                            
                            <li>
                                <% if @location.phone !='' %>
                            	<a href="javascript:;" class="lct_phone"><%= number_to_phone(@location.phone, area_code: true) %></a>
                                <% end %>
                                <% if @location.website!='' %>
                                <a href="<%= @location.website %>" target="_blank" class="lct_web"><%= @location.website %></a>
                                <% end %>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    
                </div>
            </div>
            <div class="products_part">
            	<div class="container">
                	<ul class='etabs'>
                       <li class='tab'><a href="#nearby" class="active">Nearby Products</a></li>
                       <li class='tab'><a href="#allbrands">All Products</a></li>
                    </ul>
                    <div class="clear"></div>
                	<div class='tab_container'>
                    	<div class='panel_container'>
  							<div id="nearby" class="tab_div active">
                                <div class="home_body prd_search">
                                    <div class="locations">
                                          <% if @products %>
                                         <div class="products">
                               <% @products.each do |product| %> 
                              
                               
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                            <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                             </a>
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                <% end %>
                                                 <% $i = 0
                                                if product.avg_rating %>
                                                <p class="rating">

                                                
                                               <% while $i < product.avg_rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 
                                              %>
                                               <span>(<%= product.rating_count %>)</span></p>
                                               <% end  %>

                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                               
                                
                            </div>
                            <% end %>
                                    </div>
                                </div>
                        	</div>
                            <div id="allbrands" class="tab_div">
                               <div class="home_body prd_search">
                                    <div class="locations">
                                         <% if @productsall %>
                                         <div class="products">
                               <% @productsall.each do |product| %> 
                                <div class="product_item">
                                    <div class="product_item_body">
                                        <div class="media product">
                                            <a href="/product/<%= product.slug %>" class="media_img">
                                                <% if product.picture.present? %>
                                           <%= image_tag (product.picture(:thumb)) %>
                                            <% else %>
                                            <%= image_tag("product_no_image.png", :alt => "star") %>
                                            <% end %>
                                            <span class="ribbon ribbon<%= get_quality_name(product.quality_rating_id).downcase %>"><%= get_quality_name(product.quality_rating_id)%></span>
                                             </a>
                                            <div class="media_text">
                                                <p class="media_title"><a href="/product/<%= product.slug %>"><%= product.name %></a></p>
                                                 <% branddetails = get_brand_details(product.brand_id) %>
                                                 <% if branddetails %>
                                                <p class="media_sub_title"><a href="/brand/<%= branddetails.slug %>"> <%= branddetails.name %></a></p>
                                                <% end %>
                                                <% $i = 0
                                                if product.avg_rating %>
                                                <p class="rating">

                                                
                                               <% while $i < product.avg_rating  do %>
                                                   <a href="#">
                                                  <%= image_tag("star.png", :alt => "star") %>
                                                 </a>
                                                  
                                              <%   $i +=1 
                                                    end 
                                                 
                                              %>
                                               <span>(<%= product.rating_count %>)</span></p>
                                               <% end  %>

                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                
                                
                            </div> <% end %>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="stock_status">
                        <p><strong>IN STOCK?</strong> Please call the store to verify the product or brand you want is currently in stock before going.<br/>Find Real Food cannot guarantee product inventory on any given day.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    