
    <div class="light_popup" id="invite">
    <div class="light_pop_container">
        <span class="pop_close"></span>
        <div class="light_pop_body">
            <div class="login_popup">
                <h1 class="login_title"><span>Invite</span> Friends</h1>
                <p class="center_align sprd_world">Spread the word!</p>
                <p class="center_align">Grow the community and help your friends and loved ones find<br/>the best nutrient-dense real foods nearby.</p>
                <a href="javascript:;" id='invite_fb_friends' class="fblogin_link invite_fb"><span class="login_fb fl"></span><span class="fb_txt fl">Invite on Facebook</span></a>
                <p class="inp_filed"><a href="javascript:;"  class="email_link invite_link"><span class="login_email fl"></span><span class="login_txt fl">Invite by Email</span></a></p>
            </div>
        </div>
    </div>
</div>

<% if current_user %>
<div id="fb-root"></div>
<a href="#" id="invite_fb_friends">Invite your friends</a>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
$(function(){
    $("a#invite_fb_friends").click(function(){
        FB.init({
        appId: <%=FACEBOOK_CONFIG['app_id']%>,
        status: true,
        cookie: false,
        // xfbml: true
        });

FB.ui({
method: 'apprequests',
message: '<%=current_user.name %> <%=current_user.fname %> thinks you are really Awesame'});
});
});
</script>
<% end%>
    <div class="light_popup" id="login">
	<div class="light_pop_container">
    	<span class="pop_close"></span>
    	<div class="light_pop_body">
        	<div class="login_popup">
                <h1 class="login_title"><span>ALREADY HAVE AN</span> ACCOUNT?</h1>
                <a href="/users/auth/facebook" class="fblogin_link"><span class="login_fb fl"></span><span class="fb_txt fl">Sign In with Facebook</span></a>

                <p class="center_align or">or</p>
                <p class="center_align sign_txt">Sign in using your email address:</p>
                <div class="popup_form">
                   <%= form_tag('/sessions/create    ', {:id => 'login_frm', :autocomplete=>"off"}) %>
                    	<p class="inp_filed"><span class="email_link"><span class="login_email fl"></span><span class="login_txt fl"><input type="text" autocomplete="off" id="email" name="email" placeholder="Email Address"/></span></span></p>
                        <p class="inp_filed"><span class="email_link"><span class="login_pwd fl"></span><span class="login_txt fl"><input type="password" autocomplete="off" id="password" name="password" placeholder="Password"/></span></span></p>
                        <div class="field signup_field">
                            <div class="form_control login_control">
                                <input type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
                <p class="center_align forgot_txt"><%= link_to "forgot password?", new_password_reset_path %></p>
                
                <div class="pop_signup_part">
                	<h1 class="login_title creat_acc"><span>Need to create an</span> account?</h1>
                    <p class="signup_txt"><a href="/register" class="signup_link">Sign up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="light_popup" id="forgot">
    <div class="light_pop_container">
        <span class="pop_close"></span>
        <div class="light_pop_body">
            <div class="login_popup">
                <h1 class="login_title"><span>FORGOT</span> PASSWORD?</h1>
                 
                 
                <p class="center_align sign_txt">Enter your email address to receive password</p>
                <div class="popup_form">
                   <%= form_tag({:controller=>'users', :action => 'forgotpassword'}, {:id => 'forgot_frm', :autocomplete=>"off"}) %>
                        <p class="inp_filed"><span class="email_link"><span class="login_email fl"></span><span class="login_txt fl"><input type="text" autocomplete="off" id="emailaddress" name="emailaddress" placeholder="Email Address"/></span></span></p>
                         
                        <div class="field signup_field">
                            <div class="form_control login_control">
                                <input type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
                <p class="center_align forgot_txt"><a href="javascript:;">Forgot Your Password?</a></p>
                <div class="pop_signup_part">
                    <h1 class="login_title creat_acc"><span>Already have an</span> account?</h1>
                    <p class="signup_txt"><a href="#login" class="signup_link light_pop_trigger">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
