
    <div class="light_popup" id="addLocation">
        <div class="light_pop_container">
            <span class="pop_close"></span>
            <div class="light_pop_body">
                <div class="register_popup">
                    <h1 class="login_title"><span>Add</span> Location</h1>
                    <p class="fr"><span class="required">*</span> Indicates required field</p>
                    <div class="clear"></div>
                    <div class="popup_form">
                        
                            <%= form_for(:location, url: "/locations/create", :html =>{:id => "frm_add_lctn", :autocomplete=>"off"})  do |f| %>
                            <div class="field">
                                <label>Name:<span class="required">*</span></label>
                                <div class="form_control">
                                     <%= f.text_field :name %>
                                </div>
                            </div>
                            <div class="field">
                                <label>Address:<span class="required">*</span></label>
                                <div class="form_control">
                                     <%= f.text_field :address %>
                                </div>
                            </div>
                            <div class="field">
                                <label>City:<span class="required">*</span></label>
                                <div class="form_control">
                                     <%= f.text_field :city %>
                                </div>
                            </div>
                             <div class="field">
                            <label>State:</label>
                            <div class="form_control">
                               <div   class="cus_select_rslt">
                               <span></span>
                                <select class="custom_select" name="location[state_id]" >
                                    <option value="" selected>Select State</option>
                                    <% get_state_list.each do |state| %> 
                                    <option value="<%= state.id %>"><%= state.name %></option>
                                    <% end %>
                                </select>
                               </div> 
                            </div>
                            </div>
                            <div class="field">
                                <label>Zip:<span class="required">*</span></label>
                                <div class="form_control">
                                     <%= f.text_field :zip %>
                                </div>
                            </div>
                            <div class="field">
                                <label>Hours:</label>
                                <div class="form_control">
                                     <%= f.text_field :hours %>
                                </div>
                            </div>
                            <div class="field">
                                <label>Phone:</label>
                                <div class="form_control">
                                     <%= f.text_field :phone %>
                                </div>
                            </div>
                            <div class="field">
                                <label>Website:</label>
                                <div class="form_control">
                                     <%= f.text_field :website %>
                                </div>
                            </div>
                            <div class="field">
                                <label>Category:<span class="required">*</span></label>
                                <div class="form_control">
                                   <div class="cus_select_rslt">
                                     <%= f.select(:location_type, Location::TYPES, :prompt => "Select Type") %>
                                  </div> 
                                </div>
                            </div>
                            <div class="field">
                                <label class="empty">&nbsp;</label>
                                <div class="form_control">
                                    <input type="submit" value="Submit" />
                                </div>
                            </div>
                    <% end %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
<script type="text/javascript">
        $(document).ready(function(){
            
            /*********** Flag Product *************/
        
              
            
            /*********** Flag End **************/
            
            /*********** Add Product *************/
        
                $("#add_product_form").validate({
                    rules: {
                        prd_name: "required",
                        add_categ: "required",
                        add_brand: "required",
                        add_rating: "required"
                        
                    },
                    messages: {
                        prd_name: "This Field is Required",
                        add_categ: "This Field is Required",
                        add_brand: "This Field is Required",
                        add_rating: "This Field is Required"
                    }
                });
            
            /*********** Add Product End **************/
            
            /*********** Add Product *************/
        
                $("#frm_add_lctn").validate({
                    rules: {
                        "location[name]": "required",
                        "location[address]": "required",
                        "location[city]": "required",
                        "location[state]": {
                            required: {
                                depends: function(element){
                                if('' == $('location[state]').val()){
                                return true;
                                }
                                }
                            }
                        },
                        "location[zip]": "required"
                    },
                    messages: {
                        "location[name]": "This Field is Required",
                        "location[address]": "This Field is Required",
                        "location[city]": "This Field is Required",
                        "location[state]": "This Field is Required",
                        "location[zip]": "This Field is Required"
                    }
                });
            
            /*********** Add Product End **************/
        });
        
    </script>        