<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<% if @product %>

<title>FIND REAL FOOD | <%= @product.name %></title>

<% elsif @brand  %>
<title>FIND REAL FOOD | <%= @brand.name %></title>
<% else %>
<title>FIND REAL FOOD | Home</title>
<% end %>

<% if @product %>
<meta name="og:title" content="<%= @product.name %>" />
<% elsif @brand  %>
<meta name="og:title" content="<%= @brand.name %>" />
<% else %>
<meta name="og:title" content="FIND REAL FOOD" />
<% end %>
<meta name="og:type" content="website" />
<% if @product %>
<meta name="og:image" content="http://findrealfoodapp.com<%= @product.picture(:small) %>">
<% elsif @brand %>
<meta name="og:image" content="http://findrealfoodapp.com<%= @brand.picture(:small) %>" />
<% else %>
<meta name="og:image" content="http://findrealfoodapp.com/assets/app_200X200.png" />
<% end %>
<meta name="og:url" content="<%= request.original_url %>" />
<meta name="og:site_name" content="findrealfoodapp.com" />
<%= csrf_meta_tags %>
<meta name="google-site-verification" content="OC2HGxUUAKeKNS4XwtYamOr5PsxrEy1oQ7fsKzBoS0s" />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="/assets/fonts.css">
<link rel="stylesheet" type="text/css" href="/assets/light_pop_v0.1.css">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="stylesheet" type="text/css" href="/assets/responsive.css">


<script src="/assets/jquery-1.11.0.js"></script>
<script src="/assets/jquery.slimscroll.js"></script>
<script src="/assets/jquery.bxslider.js"></script>
<script src="/assets/light_pop_v0.js"></script>
<script src="/assets/jquery.validate.js"></script>
<script src="/assets/custom.js"></script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-60b58715-9a18-f952-26e5-d7c1b1165d91", doNotHash: false, doNotCopy: false, hashAddressBar: false});

function setCookie(cname, cvalue, exdays=1) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires + "; path=/";
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
    }
    return "";
}

function fixHeigh()
    {
        
    var heights=[];
    var newsitem=$('.news_page .news');
    newsitem.each(function() {
    var newsheight=$(this).height();
    heights.push(parseInt(newsheight));
    });
    var maxHeight=Math.max.apply(Math, heights);
    newsitem.css('min-height',maxHeight);
    }


</script>
<style>
      html, body, #map-canvas {
        height: 478px;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>


</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1601901470036363&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 
<div class="notification" style="display:none;">Create an account free for a limited time to browse the entire database of brands and products approved by the Weston A. Price Foundation! <a class="notifiy_signup button" href="/register">Sign Up</a><span class="notclose">X</span></div>

    <header>
        <nav>
            <div class="container">
                <div class="logo fl">
                    <h2>
                        <a href="/"><%= image_tag("logo.png", :alt => "FIND REAL FOOD", :width => 567, :height => 84) %></a>
                    </h2>
                </div>
                <div class="top_right_part fr">
                    <div class="menu_toggle fr">
                        <a href="#"><%= image_tag("menu.png", :alt => "Menu", :width => 30, :height => 18) %></a>
                        <div class="menu_container">
                            <ul>
                              <li><a href="/categories">View Food Categories</a></li>
                              <li><a href="/search">Search All Foods</a></li>
                              <li><a href="/news">Real Food News Blog</a></li>
                              <li><a href="/faq">FAQs</a></li>
                              <!--<li><a href="/page/tutorials">Tutorials</a></li>
                              <li><a href="/page/app-overview">App Overview</a></li>-->
                              <li><a href="/how-foods-are-chosen">How Foods are Choosen</a></li>
                             
                              <li><a href="/page/terms-and-privacy-policy">Terms & Privacy Policy</a></li>
                               <% if user_signed_in? %>
                              <li><a href="#invite" class="light_pop_trigger">Invite Friends</a></li>
                              <% end %>
                              <!--<li><a href="#">Suggest a Product</a></li>
                              <li><a href="#">Add a Location</a></li>
                              <li><a href="#">Become an Affiliate</a></li>-->
                              <li><a href="/page/about-find-real-food-mobile-app">About Us</a></li>
                              <li><a href="/contact-us">Contact Us</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        
                    </div>

                    <% if user_signed_in? %>
                    <% userdetails = get_user_details(current_user.id) %>
                    <div class="user_menu fr">
                      <a href="javascript:;" class="user_mn_link">
                        <% unless userdetails.avatar_file_name%>
                            <img src="/assets/user_profile_default.png" alt="User Name"/>
                        <% else %>
                            <%= image_tag (userdetails.avatar.url) %>
                        <% end %>
                      </a>
                        <ul class="user_menu_list">
                          <li class="user_detail_list"><a href="javascript:;">
                            <% unless userdetails.avatar_file_name%>
                                <img src="/assets/user_profile_default.png" alt="User Name"/>
                            <% else %>
                                <%= image_tag (userdetails.avatar.url) %>
                            <% end %>
                            <span><%= userdetails.fname %> <%= userdetails.name %></span></a></li>
                          <li><%= link_to 'My Profile', "/user/profile" %></li>
                             <li><%= link_to 'Edit Profile', "/user/edit" %></li>
                             <li><%= link_to 'Change Password', "/user/editpass" %></li>
                            <li><%= link_to 'Logout', "/logout" %></li>
                        </ul>
                    </div>

                     <% else %>
                     
                     <div class="signup fr"><a  href="/register">Sign Up</a></div>
                    <div class="login fr"><a class="light_pop_trigger" href="#login">Login</a></div>
                     <% end %>
                    <div class="search fr">
                     

                       <%= form_tag({:controller => "searches", :action => "index"}, :method => "get", :class => "search_form_top") do %>

                        <span class="search_box fl">
                          <%= text_field_tag :search, params[:search], :id => 'search_field', :class => 'search_field', :placeholder => "Search Products, Brands" %>
                          <!--  <input type="text" placeholder="Search Products, Brands, Users"/>-->
                        </span>
                        <%= submit_tag "Search", :name => nil, :class=>"search_btn fr" %> 
                        
                        <div class="clear"></div>
                        <% end %> 
                    </div>

                      


                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </nav>
    </header>
   
   <%= yield %>
    <footer>
        <div class="footer">
            
            <div class="footer_top">
                <div class="container">
                    <div class="footer_left fl">
                        <h1>Get Notified About Important Changes</h1>
                        <p>Get occasional news and helpful updates about the Find Real Food Guide!</p>
                         <form method="post" action="https://register.sendreach.com/forms/?listid=16073" name="optin" id="optin" >
                        <div class="form_newsletter">
                            <span class="input_field">
                                <input type="text" placeholder="Your Name" name="name" id="news_name" />
                                
                            </span>
                            <span class="input_field">
                                <input type="text" placeholder="Your Email Address" name="email" id="news_email" />
                            </span>
                            <input type="hidden" name="lid" value="16073">
                            <input type="submit" class="button newssubmit" value="Sign me Up!">
                        </div>
                        </form>
                    </div>
                    <div class="footer_right fr">
                        <%= image_tag("globe_footer.png", :alt => "star", :width => 200, :height => 91) %>
                        
                        <h2><span>The</span> Weston A. Price Foundation</h2>
                        <p>For wise traditions in Food, Farming and the Healing Arts</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
 
            <div class="footer_bottom">
                <div class="container">
                    <span class="fl fb_area">
                       <div class="fb-like" data-href="https://www.facebook.com/findrealfoodapp" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                        <div class="facebook"><a target="_blank" href="https://www.facebook.com/findrealfoodapp"><%= image_tag("footer_fb_icon.png", :alt => "Facebook", :width => 37, :height => 29) %></a></div>
                    </span>
                    <p class="fr copyrt">Copyrights &copy; 2014 Find Real Food. All Rights Reserved</p>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </footer>
     
    <%= render '/layouts/login' %>
    <%= render '/layouts/register' %>
    
   
    <script type="text/javascript">
    $(function(){

      $('.products').slimScroll({
          height:496,
          wheelStep: 60,          
          alwaysVisible: true,
          railVisible: true
      });
     
    });
</script>
<script type="text/javascript">

$(document).ready(function(){
  

  
       $('.map_input input[type="text"]').focus(function() {
           $('.map_area').append('<div class="map_overlay"></div>');
                       $('.map_overlay').fadeIn(200);
       });
               $('.map_input input[type="text"]').blur(function() {
           $('.map_overlay').fadeOut(200);
                       $('.map_overlay').remove();
       });
   


  <% if user_signed_in? %>
 <% else %>
 
 if(getCookie('notification')!='closed'){
    $('.notification').show();
    var notheight=$('.notification').height()+24;
    $('header').animate({"margin-top":notheight+"px"})
  }
$('.notclose').click(function() {
    setCookie('notification','closed');
    $('.notification').animate({"margin-top":"-"+notheight+"px"}).fadeOut(300);
    $('header').animate({"margin-top":0})

});

<% end %>

 $('.ajaxcall, .checks input').click(function(){

   search_products();


  });
 
$('.resetcall').click(function(){
   
   $('#proximity').attr("checked",false)
   $('#alphabetical').attr("checked",false)
   $('#rating').attr("checked",false)
   $('#best').attr("checked",false)
   $('#good').attr("checked",false)
   $('#all').attr("checked",false)
   $('#phone').attr("checked",false)
   $('#online').attr("checked",false)
   $('#all').attr("checked",false)
   $('#store').attr("checked",false)
       
   $.get("/search", { search: $("#search_field").val(),sort:'',category:'', rank:'', sold:'' }, null, "script");
});
 






  $(".search_form_top").submit(function(){ 
    if($(".search_field").val()=='' || $(".search_field").val().length < 3){
      $(".search_box, .search_box input").css("background","#f9d4d4"); 
      $(".search_box, .search_box input").css("color","#ff0000"); 
      $(".search_field").focus();
      return false;
    }
  });


  $(".zip_search_form1").submit(function(){ 
    if($(".zip_field").val()==''){
      
      $(".bg_white, .map_input input").css("background","#f9d4d4"); 
      $(".bg_white, .map_input input").css("color","#ff0000"); 
      return false;
    }
  });

 function search_products(){

  $('.loading_ovelay').show();
  var sort = '';
  var rank = '';
  var sold = '';
  <% if @category %>
  var category = <%= @category.id %>
  <% else %>
  var category = ''; 
  <% end  %>
  
   if($('#proximity').is(":checked")){
    sort = $('#proximity').val();
   }else if($('#alphabetical').is(":checked")){
     sort = $('#alphabetical').val();
   }else if($('#rating').is(":checked")){
       sort = $('#rating').val();
   }

   if($('#best').is(":checked")){
    
       rank = $('#best').val();
   }else if($('#good').is(":checked")){
    
       rank = $('#good').val();
   }else if($('#all').is(":checked")){
    
       rank = $('#all').val();
   }
   
   
   if($('#phone').is(":checked")){
       sold = $('#phone').val();
   }else if($('#online').is(":checked")){
       sold = $('#online').val();
   }else if($('#store').is(":checked")){
       sold = $('#store').val();
   }else if($('#all').is(":checked")){
       sold = $('#all').val();
   }

    $.get("/search", { search: $("#search_field").val(),sort:sort,category:category, rank:rank, sold:sold }, null, "script");
    return false;


 }

            var currentSelect = $('.custom_select');
             currentSelect.each(function(){
             var selectedValue = $(this).val();
             $(this).prev('span').html(selectedValue);                                        
            });


            $("#optin").validate({
                     
                     rules: {
                      email:{
                            required: true,
                            email: true 
                        },
                        name: "required"
                    },
                    messages: {
                        email:{
                            required: "Email Address is Required",
                            email: "Invalid Email Address"  
                        },
                        name: "Name is Required"
                    },submitHandler : function(form) {
                     if ($(form).valid()){ form.submit(); return false; // prevent normal form posting
                     }
                  }
                });

    
            $("#login_frm, #login_frm_full").validate({
                     debug: true,
                     rules: {
                      email:{
                            required: true,
                            email: true 
                        },
                        password: "required"
                    },
                    messages: {
                        email:{
                            required: "Email Address is Required",
                            email: "Invalid Email Address"  
                        },
                        password: "Password is Required"
                    },submitHandler : function(form) {
                     if ($(form).valid()){ form.submit(); return false; // prevent normal form posting
                     }
                  }
                });
                

                $("#forgot_frm").validate({
                     debug: true,
                     rules: {
                      email:{
                            required: true,
                            email: true,
                            remote:"/users/checkemailforgot"
                        } 
                    },
                    messages: {
                        email:{
                            required: "Email Address is Required",
                            email: "Invalid Email Address",
                            remote: "Entered Email Address is not available in our database"  
                        } 
                    },submitHandler : function(form) {
                     if ($(form).valid()){ form.submit(); return false; // prevent normal form posting
                     }
                  }
                });

 
                //End Login
                
                //Start Register
                $("#user_signup_form").validate({
                  debug: true,
                    rules: {
                        "user[fname]": "required",
                        "user[name]": "required",
                        "user[email]":{
                            required: true,
                            email: true 
                        },
                          
                        "user[password]": {
                            required: true,
                            minlength: 8
                        },
                        "user[password_confirmation]": {
                            required: true,
                            equalTo: "#user_password_confirmation"
                        }
                    },
                    messages: {
                        "user[fname]": "First Name is Required",
                        "user[name]": "Last Name is Required",
                         "user[email]":{
                            required: "Email Address is Required",
                            email: "Invalid Email Address"  
                        },
                          
                         "user[password]": {
                            required: "Password is Required",
                            minlength: "Password must Have Minimum 8 Charecters"
                        },
                         "user[password_confirmation]": {
                            required: "Confirm Password is Required",
                            equalTo: "Passwords are Mismatch"
                        }
                    },submitHandler : function(form) {
                     if ($(form).valid()){ form.submit(); return false; // prevent normal form posting
                     }
                  }
                });


$( ".cmmn_success, .cmmn_error" ).delay( 5000 ).fadeOut( 400 );
 
});


 var lat;
    var long;
    function getLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(showPosition);

        }
        
    }
    function showPosition(position)
    {
        lat = position.coords.latitude;
        long = position.coords.longitude;
        $.get("/home/setzip", { lat: lat, long: long }, null, "script");
        
    }
    <% if session[:zip].blank? %>
    getLocation(); 
    <% end %>
</script>

    <!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-57340279-1', 'auto');
ga('send', 'pageview');

</script>
<!-- End Google Analytics -->
  
  
</body>
</html>